h1
{ 
    font: 24px/1.6 "Open Sans", sans-serif; 
    color: #fff;
	text-transform: uppercase;
	letter-spacing: 20px;
    border-radius: 2px;
    margin: 0 auto;
}

h2
{ 
    font: 18px/1.6 "Open Sans", sans-serif; 
    color: #fff;
	text-transform: uppercase;
	letter-spacing: 20px;
    border-radius: 2px;
    margin: 0 auto;
}

.text-div {
    margin-top: 45vh;
}

html { 
  background: url('https://Betty-Rose.github.io/assets/Cup.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-div {
    height: 100vh;
}
